/* header */
/* Navbar */
@import url('../font/fontello/css/fontello.css');
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 5rem;
  background-color: #fff;
}

/* Header 3 */
#header_3 h1,
#header_3 p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

#header_3 h1 {
  font-size: 3.2rem;
}

#header_3 p {
  font-size: 2.3rem;
}

#header_3 h2 {
  color: #000;
  font-size: 2.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
  /* BASIC SETUP */
}

#header_3 .page-wrapper {
  width: 100%;
  height: auto;
}

#header_3 .nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}

#header_3 .grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
  /* NAVIGATION */
}

#header_3 .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 5rem;
  /* overflow: hidden; */
}

#header_3 .navbar img {
  height: 65px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

#header_3 .navbar ul.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;
}

#header_3 .nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  font-family: 'Montserrat';
}

#header_3 .nav-item a:hover {
  color: #3498db;
  /* SECTIONS */
}

#header_3 .headline_wrapper {
  padding-top: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  width: 100%;
  height: 50vh;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#header_3 .headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header_3 .hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#header_3 .features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

#header_3 .feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

#header_3 .feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

#header_3 .feature-container img {
  width: 100%;
  margin-bottom: 15px;
  /* SEARCH FUNCTION */
}

#header_3 #search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#header_3 #search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

#header_3 .search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

#header_3 .no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

#header_3 .search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

#header_3 .search-active {
  opacity: 1;
  z-index: 0;
}

#header_3 input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0;
  /* FOR SAFARI */
  outline: 0;
  padding: 5px;
  /* MOBILE MENU & ANIMATION */
}

#header_3 .menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header_3 .menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

#header_3 .menu-toggle:hover {
  cursor: pointer;
}

#header_3 #mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#header_3 #mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#header_3 #mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  /* KEYFRAME ANIMATIONS */
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {

  /* Media Queries */
  /* Mobile Devices - Phones/Tablets */
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 768px) {
  #header_3 .features {
    flex-direction: column;
    padding: 50px;
    /* MOBILE HEADINGS */
  }

  #header_3 h1 {
    font-size: 1.9rem;
  }

  #header_3 h2 {
    font-size: 1rem;
  }

  #header_3 p {
    font-size: 0.8rem;
    /* MOBILE NAVIGATION */
  }

  #header_3 .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 5rem;
    background-color: #fff;
    width: 45%;
    height: calc(100vh - 55px);
    transform: translate(125%);
    text-align: center;
    overflow: hidden;
    right: 0px;
  }

  #header_3 .navbar li {
    padding: 15px;
  }

  #header_3 .navbar li:first-child {
    margin-top: 50px;
  }

  #header_3 .navbar li a {
    font-size: 1rem;
  }

  #header_3 .menu-toggle,
  #header_3 .bar {
    display: block;
    cursor: pointer;
  }

  #header_3 .mobile-nav {
    transform: translate(0%) !important;
    /* SECTIONS */
  }

  #header_3 .headline {
    height: 20vh;
  }

  #header_3 .feature-container p {
    margin-bottom: 25px;
  }

  #header_3 .feature-container {
    margin-top: 20px;
  }

  #header_3 .feature-container:nth-child(2) {
    order: -1;
    /* SEARCH DISABLED ON MOBILE */
  }

  #header_3 #search-icon {
    display: none;
  }

  #header_3 .search-input {
    display: none;
  }
}

/* PERCOBAAN MENU */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

.dropdown-menu {
  border-radius: 0 0 8px 8px;
  top: 52px;
  right: -300px;
}

.mega-dropdown-menu {
  padding: 20px 15px 15px;
  width: 600px;
}

.dropdown-menu:before {
  content: url(/GlobalAssets/imgd/header/menu-toparrow.png);
  position: absolute;
  right: 300px;
  top: -28px;
  margin-left: -42px;
}

.mega-dropdown-menu .under-line {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.under-line {
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #009688;
  position: relative;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 2px solid;
}

.mega-dropdown-menu .short-menu li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mega-dropdown-menu .row .row li {
  list-style-type: none;
}

header .nav>li a {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #212121;
}

.short-menu {
  display: block;
}

@media only screen and (max-width: 768px) {
  .mega-dropdown-menu {
    width: 100%;
  }

  .dropdown-menu {
    right: 0px;
    font-size: 1rem;
  }

  .dropdown-menu:before {
    content: url(/GlobalAssets/imgd/header/menu-toparrow.png);
    position: absolute;
    top: -28px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 35px;
    text-align: center;
  }

  .dropdown-menu h4 {
    font-size: 1rem;
  }

  .mega-dropdown-menu .short-menu li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}