/* Global */
/* Navbar */
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
}
#header2 li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
#header2 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
#header2 button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#header2 button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}
#img {
  cursor: pointer;
  margin-right: auto;
}
.nav__links {
  list-style: none;
  margin-bottom: 0;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #0088a9;
}
/* Header 3 */
#header_3 h1, #header_3 p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}
#header_3 h1 {
  font-size: 3.2rem;
}
#header_3 p {
  font-size: 2.3rem;
}
#header_3 h2 {
  color: #000;
  font-size: 2.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
  /* BASIC SETUP */
}
#header_3 .page-wrapper {
  width: 100%;
  height: auto;
}
#header_3 .nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}
#header_3 .grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
  /* NAVIGATION */
}
#header_3 .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 80px;
  overflow: hidden;
}
#header_3 .navbar img {
  height: 65px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}
#header_3 .navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;
}
#header_3 .nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
#header_3 .nav-item a:hover {
  color: #3498db;
  /* SECTIONS */
}
#header_3 .headline_wrapper {
  padding-top: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  width: 100%;
  height: 50vh;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#header_3 .headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_3 .hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#header_3 .features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}
#header_3 .feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}
#header_3 .feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}
#header_3 .feature-container img {
  width: 100%;
  margin-bottom: 15px;
  /* SEARCH FUNCTION */
}
#header_3 #search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}
#header_3 #search-icon:hover {
  color: #3498db;
  cursor: pointer;
}
#header_3 .search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}
#header_3 .no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}
#header_3 .search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}
#header_3 .search-active {
  opacity: 1;
  z-index: 0;
}
#header_3 input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0;
  /* FOR SAFARI */
  outline: 0;
  padding: 5px;
  /* MOBILE MENU & ANIMATION */
}
#header_3 .menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header_3 .menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}
#header_3 .menu-toggle:hover {
  cursor: pointer;
}
#header_3 #mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#header_3 #mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
#header_3 #mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  /* KEYFRAME ANIMATIONS */
}
@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradbar {
  /* Media Queries */
  /* Mobile Devices - Phones/Tablets */
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 720px) {
  #header_3 .features {
    flex-direction: column;
    padding: 50px;
    /* MOBILE HEADINGS */
  }
  #header_3 h1 {
    font-size: 1.9rem;
  }
  #header_3 h2 {
    font-size: 1rem;
  }
  #header_3 p {
    font-size: 0.8rem;
    /* MOBILE NAVIGATION */
  }
  #header_3 .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  #header_3 .navbar li {
    padding: 15px;
  }
  #header_3 .navbar li:first-child {
    margin-top: 50px;
  }
  #header_3 .navbar li a {
    font-size: 1rem;
  }
  #header_3 .menu-toggle, #header_3 .bar {
    display: block;
    cursor: pointer;
  }
  #header_3 .mobile-nav {
    transform: translate(0%) !important;
    /* SECTIONS */
  }
  #header_3 .headline {
    height: 20vh;
  }
  #header_3 .feature-container p {
    margin-bottom: 25px;
  }
  #header_3 .feature-container {
    margin-top: 20px;
  }
  #header_3 .feature-container:nth-child(2) {
    order: -1;
    /* SEARCH DISABLED ON MOBILE */
  }
  #header_3 #search-icon {
    display: none;
  }
  #header_3 .search-input {
    display: none;
  }
}

/* Carousel */
#carousel{
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 5em;
  transform: scaleY(-1);
}

#carousel h3 {
  font-family: lato;
  font-weight: 600;
  margin: 20px auto 10px auto;
  color: white;
}
#carousel .carousel-item {
  padding: 15px;
  cursor: -webkit-grabbing;
}
#carousel .carousel-item img {
  border-radius: 30px;
  height: 90vh;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
  transition: 0.25s linear;
}
#carousel .carousel-item:hover img {
  transform: translatey(-1%);
}
#carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 136, 169, 0.8);
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 30px;
}
#carousel .carousel-indicators li.active {
  background: #fff;
}
@media only screen and (max-width: 650px) {
  #carousel .carousel-item img {
    height: auto;
  }
}
#carousel .carousel-control-prev {
  left: -50px;
  margin: 0 -25px;
}
#carousel .carousel-control-next {
  right: -50px;
  margin: 0 -25px;
}

/* menu */
#container {
  width: 100%;
  max-width: 700px;
  margin: 2em auto;
}
.cols {
  -moz-column-count:3;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count:3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 3;
  column-gap: 3%;
  column-width: 30%;
}
.box {
  margin-bottom: 20px;
  height:100px;
  background:#BFBFBF;
}